<div class="container">
  <h1 style="text-align: center">My tasks</h1>
    <% @tasks.each do |task| %>
    <div class="tasks">
      <h3> <%= link_to task.title, task_path(task)%>: </h3>
        <p><%= task.completed? ? " [X]" : "[ ]"%></p>
    </div>
      <% end %>
  <%= link_to "+Add a new task", new_path, class: "add" %>
</div>
